.xyz{background-color:black;color:white;Font-size:25}
.xyz1{background-color:rgb(255,127,39);color:white;font-size:25}
#header{background-color:rgb(255,127,39);color:white}
tr{text-align:left;font-size:20}



